#div-1 {
  margin: 20px;
  padding: 20px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-2 {
  margin: 0px;
  padding: 20px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-3 {
  margin: 20px;
  padding: 0px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-4 {
  margin: 0px;
  padding: 0px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-5 {
  margin-top: 100px;
  padding: 20px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-6 {
  margin-bottom: 100px;
  padding: 20px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-7 {
  margin: 20px;
  padding-top: 50px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-8 {
  margin: 20px;
  padding-left: 50px;
  border: 10px solid black;
  background-color: lightgreen;
}

#div-9 {
  width: 300px;
  border: 10px solid black;
  background-color: lightsalmon;
  box-sizing: content-box;
}

#div-10 {
  width: 300px;
  border: 10px solid black;
  background-color: lightsalmon;
  box-sizing: border-box;
}

#div-11 {
  padding: 20px;
  background-color: lightskyblue;
  margin-bottom: 50px;
}

#div-12 {
  padding: 20px;
  margin-top: 20px;
  background-color: lightseagreen;
}

#div-13 {
  padding: 20px;
  background-color: lightskyblue;
  margin-top: 10px;
}

#div-14 {
  padding: 20px;
  margin-top: -40px;
  background-color: lightseagreen;
}
