.timeline {
  padding: 2rem;
}

.timeline dl {
  position: relative;
  border-left: 4px solid var(--color-primary);
  padding-left: 2rem;
}

.timeline dt {
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 2rem;
  position: relative;
}

.timeline dt::before {
  content: "";
  position: absolute;
  left: -2.45rem;
  top: 5px;
  width: 12px;
  height: 12px;
  background: var(--color-primary);
  border-radius: 50%;
}

.timeline dd {
  margin-top: 1.5rem;
}

.page-title {
  text-align: center;
  background: var(--color-secondary);
}

.timeline,
.mission,
.values {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.pull-quote {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  color: var(--color-secondary);
  max-width: 800px;
  margin: 2rem auto;
}

.pricing {
  padding: 3rem 2rem;
  overflow-x: auto;
  height: 600px;
}

.pricing-table {
  width: 100%;
  border-collapse: separate;
  margin: 3rem 0;
}

.pricing-table th,
.pricing-table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

.pricing-table thead th {
  position: sticky;
  top: -50px;
  z-index: 20;
  background: var(--color-secondary);
  color: var(--color-text);
}

.pricing-table tbody tr:nth-child(even) {
  background: #f1f5f5;
}

.pricing-table .recommended {
  background-color: rgba(255, 0, 0, 1);
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  font-weight: bold;
}

.cta-section {
  background: var(--color-primary);
  color: white;
  padding: 3rem 2rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.cta-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-form input,
.cta-form textarea {
  padding: 0.75rem;
  border-radius: var(--radius);
  border: none;
}

.cta-form button {
  padding: 0.75rem;
  background: white;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
}

.team {
  padding: 3rem 2rem;
}

.department {
  margin-bottom: 4rem;
}

.department h2 {
  text-align: center;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

.department {
  margin-bottom: 4rem;
  scroll-margin-top: 200px;
}
