* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  margin: 40px 0;
  text-decoration: underline;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.fitlers {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters a {
  background: #333;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}

.department {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.department h2 {
  grid-column: 1 / -1;
}

figure {
  background: white;
  padding: 20px;
  text-align: center;

  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

figure img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

figcaption p {
  margin-top: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

figure:hover {
  transform: translateY(-5px);

  box-shadow: 0 10px 20px #ccc;
}

figure:hover .social {
  opacity: 1;
}

.department {
  display: none;
}

.derpartment:target {
  display: grid;
}

@media (max-width: 768px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}
