* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  padding: clamp(1rem, 3vw, 3rem);

  display: grid;
  gap: clamp(1rem, 3vw, 3rem);
}

h1 {
  font-size: clamp(2.4rem, 5vw + 1rem, 5.6rem);
}

h2 {
  font-size: clamp(2rem, 4vw + 0.8rem, 4.5rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.7rem, 3.5rem);
}

h4 {
  font-size: clamp(1.5rem, 2.5vw + 0.6rem, 2.8rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2.2rem);
}

h6 {
  font-size: clamp(1.1rem, 1.5vw + 0.5rem, 1.6rem);
}

.card-container {
  container-type: inline-size;
  border: 2px solid #ccc;
  padding: clamp(1rem, 3vw, 3rem);
}

.card {
  display: block;
  background: #f2f2f2;
  padding: clamp(1rem, 3vw, 3rem);
  border-radius: 8px;
}

.card img {
  width: 100%;
  max-width: 120px;
  display: block;
  margin-bottom: 1rem;
}

@container (min-width:500px) {
  .card {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    align-items: center;
  }

  .card img {
    margin-bottom: 0;
  }
}
